<!--The content below is only a placeholder and can be replaced.-->
<!-- this creates a google map on the page with the given lat/lng from -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">PlatziSquare</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/lugares">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/contacto">Contacto</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>


<!-- <ul>
  <ng-container *ngFor="let lugar of lugares; let i = index" [ngSwitch]="lugar.cercania"> 
    <a>
      <li contar-clicks [ngStyle]="{color: (lugar.active) ? 'black' : 'grey'}" [ngClass]="{numero_par: (i+1) %2 !== 0}" [resaltar]="lugar.plan">
        {{lugar.nombre}} -
        <span *ngSwitchCase="1" [ngStyle]="{color: 'green'}">Muy Cercano</span>
        <span *ngSwitchCase="2" [ngStyle]="{color: 'black'}">Cercano</span>
        <span *ngSwitchCase="3" [ngStyle]="{color: 'red'}">Lejano</span>
      </li>
    </a>
  </ng-container>
</ul> -->