<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-8 col-xs-8">
      <h2>Lugares Cercanos</h2>
      <a class="btn btn-primary" routerLink="/crear">Crear Nuevo Negocio</a>
      <ul class="list-group">
        <ng-container *ngFor="let lugar of lugares"> 
          <a routerLink="/detalle/{{lugar.id}}" [queryParams]="{action2:'edit',referer:'google'}">
          	<li class="list-group-item">{{lugar.nombre}}</li>
          </a> 
        </ng-container>
      </ul>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
      <h2>Destacados</h2>
    </div>
  </div>
</div>