<div class="card card-body bg-light">
	<p><a routerLink="/lugares">Inicio</a> / {{lugar.nombre}}</p>
</div>
<div class="container">
	<h1>{{lugar.nombre}}</h1>
	<hr>
	<small>{{lugar.distancia}}</small>
	<br>
	<div class="card card-body bg-light">
		<p>
			{{lugar.description}}
		</p>
		<b>{{lugar.plan}}</b>
	</div>
	
</div>