<div class="card card-body bg-light">
	<p><a routerLink="/lugares">Inicio</a> / contacto</p>
</div>
<div class="container">
	<label>Nombre</label>
	<input type="text" class="form-control">
	<br>
	<label>Correo</label>
	<input type="email" class="form-control">
	<br>
	<label>Mensaje</label>
	<textarea class="form-control"></textarea>
	<hr>
	<a class="btn btn-primary" style="color:#fff;">Enviar</a>
	<a class="btn btn-default" routerLink="/lugares">Cancelar</a>
</div>