<div class="card card-body bg-light">
	<p><a routerLink="/lugares">Inicio</a> / Crear lugar</p>
</div>
<div class="container">
	<label>Nombre</label>
	<input type="text" class="form-control" [(ngModel)]="lugar.nombre"/>
	<br>
	<label>Distancia</label>
	<input type="number" class="form-control" [(ngModel)]="lugar.distancia">
	<br>
	<label>Cercania</label>
	<input type="number" class="form-control" [(ngModel)]="lugar.cercania">
	<br>
	<label>Descripcion</label>
	<textarea class="form-control" [(ngModel)]="lugar.descripcion"></textarea>
	<br>
	<label>Plan</label>
	<input type="text" class="form-control" [(ngModel)]="lugar.plan">

	<h3>Datos de direccion</h3>
	<label>Calle y Numero</label>
	<input type="text" class="form-control" [(ngModel)]="lugar.calle">
	
	<label>Ciudad</label>
	<input type="text" class="form-control" [(ngModel)]="lugar.ciudad">
	
	<label>Pais</label>
	<input type="text" class="form-control" [(ngModel)]="lugar.pais">
	
	<hr>
	<a class="btn btn-primary" style="color:#fff;" (click)="guardarLugar()" >Enviar</a>
	<a class="btn btn-default" routerLink="/lugares">Cancelar</a>
</div>